<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>To do list</title>
    </head>
    <body>

        <div id="root">
            <div id="wrapper">

                <h1>Aggiungi alimento nella lista della spesa</h1>

                <input v-on:keyup.13="aggiunta_elemento()" v-model="aggiunta" type="text" placeholder="Inserisci il testo">

                <button @click="aggiunta_elemento()" type="button" name="button">Aggiungi</button>

                <h2>Lista Spesa</h2>

                <div class="elenco">
                    <ol>
                        <li @click="rimuovi_elemento(indice)"
                        v-for="(alimenti, indice) in lista">
                            {{alimenti}}
                        </li>
                    </ol>
                </div>
                
            </div>
        </div>


        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
